.Contact {
    margin: 5em 20% 0;
    display: flex;
    flex-direction: column;
}

.personalWrap {
    display: flex;
    justify-content: center;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root {
    width: 60% !important;
}
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
    width: 100% !important;
}

.Contact .socialsWrapper {
    padding: 5em 0;
    display: flex;
    justify-content: center;
    gap:2.5em;
}

.Contact .linkedinfoot {
    filter: invert(39%) sepia(99%) saturate(368%) hue-rotate(337deg) brightness(88%) contrast(87%);
    margin: -0.5em 0;
}

.Contact .githubfoot {
    filter: invert(39%) sepia(99%) saturate(368%) hue-rotate(337deg) brightness(88%) contrast(87%);
    margin: -1em 0;
}

.Contact a:hover {
    filter: invert(18%) sepia(59%) saturate(4178%) hue-rotate(344deg) brightness(75%) contrast(106%);
}